<body style="background-color:#bababa">
	<div class = "container">
		<div class="jumbotron" style="background-color:#fff;margin-top:10%">
  			<h2 style="color:#969696;font-family: 'SciFly-Sans', sans-serif">About Me</h2>
  				<p style="font-family:GlacialIndifference-Regular;color:#969696">My name is Felix Calis and I am a photograper, brand strategist, marketer, events organizer and entrepreneur. I have established myself in the world of Fashion Photography and have an extensive backgrond in brand development for a number of major ad agencies. I am always looking for an opportunity to showcase my talents to new clients.</p>
  				<p style="font-family:GlacialIndifference-Regular;color:#969696">I have worked with professionals from all over the world which have helped enhance my management skills in addition to my creative talents. I love thinking outside the box and coming up with creative ideas that are innovative and can communicate the brand message to the consumer. I also love travelling and expanding my social circle on a global level.</p>
  				<p style="font-family:GlacialIndifference-Regular;color:#969696">Currently I am building a creative company that takes all my existing interests and skills of branding, event management and photography and incorporates them into one format</p> 
  				<p><%= link_to 'Back', root_path, :class => 'back' %><p>
  		</div>
	</div>
</body>
