<body style="background-color:#bababa">
  <div class = "container">
    <div class="jumbotron" style="background-color:#fff;margin-top:10%">
        
        <h1 style="font-family:'SciFly-Sans';color:#969696">CONTACT</h1>
  				
          <h3 style="font-family:'SciFly-Sans';color:#969696">Phone: </h4>
            <p style="font-family:'SciFly-Sans';font-size: 15px">0091-8939693957</p>
  			
        	<h3 style="font-family:'SciFly-Sans';color:#969696">Email: </h4>
           <p style="font-family:'SciFly-Sans';font-size: 17px">felixcalis@gmail.com</p>
  			
        	<h3 style="font-family:'SciFly-Sans';color:#969696">Location: </h4>
          <p style="font-family:'SciFly-Sans';font-size: 17px">Chennai - Paris<br /><br />
  			
        	<p><%= link_to 'Back', root_path, :class => 'back' %><p>
  	</div>
  </div>
</body>

     
